data/jira_bugs/1674_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test1/"           
           xmlns:ns0="http://test1/" elementFormDefault="qualified" attributeFormDefault="unqualified">
           
     <xs:override schemaLocation="1674_5_overridden.xsd">
        <xs:complexType name="Y2">
           <xs:sequence>
              <xs:element name="y" type="xs:integer"/>
           </xs:sequence>
           <xs:assert test="ns0:y mod 2 = 0"/>
        </xs:complexType>
     </xs:override>
     
     <xs:element name="X" type="ns0:Y2"/>
           
</xs:schema>           