data/jira_bugs/1674_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://test1/" targetNamespace="http://test1/"           
           elementFormDefault="qualified" attributeFormDefault="unqualified">
           
     <xs:override schemaLocation="1674_2_overridden.xsd">
        <xs:complexType name="Y2">
           <xs:sequence>
              <xs:element name="y" type="ns0:y_INT"/>
           </xs:sequence>
           <xs:assert test="y mod 2 = 0" xpathDefaultNamespace="##targetNamespace"/>
        </xs:complexType>
     </xs:override>
     
     <xs:element name="X" type="ns0:Y2"/>
           
</xs:schema>           