data/jira_bugs/1743_4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="X">
       <xs:simpleType>
          <xs:restriction base="UnionType1">
             <xs:enumeration value="2"/>
             <xs:enumeration value="2021-04-09"/>
             <xs:enumeration value="3"/>
          </xs:restriction>
       </xs:simpleType>
    </xs:element>
    
    <xs:simpleType name="UnionType1">
       <xs:union memberTypes="xs:integer DATE1"/>
    </xs:simpleType>
    
    <xs:simpleType name="DATE1">
       <xs:restriction base="xs:date">
          <xs:assertion test="$value gt current-date()"/>
       </xs:restriction>
    </xs:simpleType>

</xs:schema>