data/jira_bugs/1743_2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="X">
       <xs:simpleType>
          <xs:restriction base="ST1">
             <xs:enumeration value="1 2 3"/>
             <xs:enumeration value="2 3"/>
             <xs:enumeration value="5 6 7"/>
          </xs:restriction>
       </xs:simpleType>
    </xs:element>
    
    <xs:simpleType name="ST1">
       <xs:restriction base="ListType1">
          <xs:assertion test="count($value) = 3"/>
       </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ListType1">
       <xs:list itemType="xs:integer"/>
    </xs:simpleType>

</xs:schema>