data/redefine/main_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://test1/" elementFormDefault="qualified" targetNamespace="http://test1/">
   
   <xs:redefine schemaLocation="redefined_2.xsd">
      <xs:complexType name="T1">
         <xs:complexContent>
            <xs:restriction base="ns1:T1">
               <xs:sequence>
	         <xs:element name="y" type="xs:integer"/>
               </xs:sequence>
               <xs:assert test="ns0:y mod 2 = 0"/>
            </xs:restriction>
         </xs:complexContent>
      </xs:complexType>
   </xs:redefine>
   
   <xs:element name="x" type="ns1:T1"/>
   
</xs:schema>   