data/override/overridden_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:complexType name="CT2">
      <xs:sequence>
         <xs:element name="y" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   
   <xs:attribute name="idx2" type="xs:string"/>
           
</xs:schema> 