data/idconstraints/idc_2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="root">
       <xs:complexType>
          <xs:sequence>
             <xs:element name="item" maxOccurs="unbounded">
                <xs:complexType>
                   <xs:sequence>
                      <xs:element name="val" type="xs:integer" minOccurs="0"/>
                   </xs:sequence>
                </xs:complexType>
             </xs:element>
          </xs:sequence>
       </xs:complexType>
       <xs:unique name="unique_1">
          <xs:selector xpath="item"/>
          <xs:field xpath="val"/>
       </xs:unique>
    </xs:element>

</xs:schema>